.markList-container {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    flex-wrap: wrap;
    /* background-image: linear-gradient(to right,  #8e9eab, #eef2f3); */
    background-image: url("https://res.cloudinary.com/dtnwl3ron/image/upload/v1726146035/xmqfxpxe4bjwk68uodvg.avif");
    background-size: cover;
    padding:40px;
    gap:40px;
}

.no-bookmark-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-view-image {
    width:100%;
}

.no-bookmark-heading {
    color:Black;
    font-size:25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}